<div class="outerDiv">
  <span class="headline"
    >{{ action == "create" ? "Create" : "Update" }} Category</span
  >
  <mat-divider></mat-divider>
  <form
    action=""
    class="categoryForm"
    [formGroup]="productForm"
    (ngSubmit)="submit()"
  >
    <div class="innerDiv">
      <div class="fieldDiv">
        <mat-label>Product ID</mat-label>
        <mat-form-field appearance="outline">
          <input
            type="text"
            matInput
            name="productId"
            formControlName="productId"
          />
        </mat-form-field>
      </div>
      <div class="fieldDiv">
        <mat-label>Product Name</mat-label>
        <mat-form-field appearance="outline">
          <input
            type="text"
            matInput
            required
            minlength="3"
            formControlName="productName"
          />
          <mat-error
            *ngIf="productForm.controls?.['productName']?.errors?.['required']"
            >Enter category name</mat-error
          >
          <mat-error
            *ngIf="productForm.controls?.['productName']?.errors?.['minlength']"
            >Minimum 3 charecters</mat-error
          >
        </mat-form-field>
      </div>
    </div>
    <div class="innerDiv">
      <div class="fieldDiv">
        <mat-label>Product Description</mat-label>
        <textarea matInput rows="5" formControlName="description"></textarea>
      </div>
    </div>
    <div class="innerDiv">
      <div class="fieldDiv">
        <mat-label>Size</mat-label>
        <mat-form-field appearance="outline">
          <mat-select formControlName="size" multiple>
            @for (size of sizeList; track size) {
            <mat-option [value]="size">{{ size }}</mat-option>
            }
          </mat-select>
          <mat-error>Size is required</mat-error>
        </mat-form-field>
      </div>

      <div class="fieldDiv">
        <mat-label>Price</mat-label>
        <mat-form-field appearance="outline">
          <input type="number" matInput formControlName="price" />
          <mat-error>Price is required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="innerFileDiv" *ngIf="allFilesBase64.length > 0">
      <mat-label>Preview</mat-label>
      <div class="imageInnerDiv">
        <div class="imageDiv" *ngFor="let file of allFilesBase64; index as i">
          <img [src]="file" alt="" />
          <mat-icon class="pointer" (click)="deleteFile(i)">delete</mat-icon>
        </div>
      </div>
    </div>
    <div class="innerDiv">
      <div class="fieldDiv">
        <mat-label>Product Images</mat-label>
        <button
          style="width: max-content; margin: 1rem 0px"
          mat-stroked-button
          type="button"
          (click)="fileInput.click()"
        >
          Upload File
        </button>
        <input #fileInput type="file" hidden (change)="fileUpload($event)" />
        <mat-error
          style="margin-bottom: 1rem"
          *ngIf="productForm.controls['productImages'].errors?.['required'] && productForm.touched"
          >At least one Image required</mat-error
        >
      </div>
      <div class="fieldDiv">
        <mat-label>Category</mat-label>
        <mat-form-field appearance="outline">
          <mat-select formControlName="categoryId">
            @for (category of categoryList; track category) {
            <mat-option [value]="category.categoryId">
              {{ category.categoryName }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="sbtCancelBtns">
      <button type="submit" mat-stroked-button>
        {{ action == "create" ? "Create" : "Update" }}
      </button>
      <button
        type="button"
        (click)="cancel()"
        class="cancelBtn"
        mat-stroked-button
      >
        Cancel
      </button>
    </div>
  </form>
</div>
