<div class="outerDiv">
  <div class="outerDiv1">
    <div class="topDivItems">
      <div class="projectHamburger">
        <app-side-nav></app-side-nav>
      </div>
      <button class="projectTitle pointer btn" (click)="routeToHome()">
        <mat-icon class="innerIcon">shopping_cart</mat-icon>
        <p>{{ title }}</p>
      </button>
    </div>
  </div>

  <div class="outerDiv2">
    <div class="outerItem">
      <button
        class="innerItem pointer btn"
        (click)="navigateToDetails('aboutUs')"
      >
        About Us
      </button>
      <button class="innerItem pointer btn" href="#">Blog</button>
      <button
        class="innerItem pointer btn"
        (click)="navigateToDetails('contactUs')"
      >
        Contact Us
      </button>
      <button
        class="innerItem pointer"
        *ngIf="this.roleId === 1"
        routerLink="admin/home"
      >
        Admin
      </button>
    </div>
    <div class="outerItem">
      <button href="#" class="btn innerItem innerIcon fa fa-instagram">
        &nbsp;
      </button>
      <button href="#" class="btn fa innerItem innerIcon fa-facebook">
        &nbsp;
      </button>
      <button href="#" class="btn innerItem innerIcon fa fa-twitter">
        &nbsp;
      </button>
    </div>
  </div>
</div>
