$blue0: #eeeeee;
$blue100: #508c9b;
$blue200: #134b70;
$blue300: #201e43;
$gray: #ebebe4;
$font-color: #333;
$blue50: #d5ffff;

.outerDiv {
  background-color: $gray;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
  background-color: $blue0;
  color: $font-color;

  .outerDiv1 {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .topDivItems {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    .projectTitle {
      font-weight: 700;
      display: flex;
      gap: 1rem;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

      justify-content: center;
      align-items: center;
      cursor: pointer;

      mat-icon {
        font-size: xx-large;
      }

      p {
        font-size: x-large;
      }
    }

    .projectHamburger {
      display: none;
    }
  }

  .outerDiv2 {
    width: 52%;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  p {
    margin: 0;
  }

  .outerItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    .innerItem {
      white-space: nowrap;
      text-decoration: none;
      color: $blue300;
      font-weight: 500;
      font-size: large;
      transition: color 0.3s;

      &:hover {
        color: $blue200;
      }
    }

    .innerIcon {
      font-size: 1.4rem;
      color: $blue300;

      &:hover {
        color: $blue100;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .outerDiv2 {
    display: none !important;
  }
  .projectTitle {
    width: 100%;
  }
  .outerDiv1 {
    width: 100%;
  }

  .topDivItems {
    width: 100%;
  }

  .projectHamburger {
    display: inline-block !important;
    background-color: $gray;
  }
}
