<div class="outerDiv">
  <div class="outerDiv1">
    <div class="topDivItems">
      <div class="projectHamburger">
        <app-side-nav></app-side-nav>
      </div>
      <div class="projectTitle pointer" (click)="routeToHome()">
        <mat-icon class="innerIcon">shopping_cart</mat-icon>
        <p>{{ title }}</p>
      </div>
      <div class="shoppingCart">
        <mat-icon>shopping_bag</mat-icon>
      </div>
    </div>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Search Products" />
      <div class="rightSearches">
        <mat-select name="ampm" placeholder="All Products" class="ampm">
          <mat-option value="AM">AM</mat-option>
          <mat-option value="PM">PM</mat-option>
        </mat-select>
        <mat-icon class="innerIcon">search</mat-icon>
      </div>
    </mat-form-field>
  </div>

  <div class="outerDiv2">
    <div class="outerItem">
      <a class="innerItem pointer" (click)="navigateToDetails('aboutUs')">About Us</a>
      <a class="innerItem pointer" href="#">Blog</a>
      <a class="innerItem pointer" (click)="navigateToDetails('contactUs')">Contact Us</a>
      <a class="innerItem pointer" *ngIf="this.roleId==1" routerLink="admin/home">Admin</a>
    </div>
    <div class="outerItem">
      <a href="#" class="innerItem innerIcon fa fa-instagram"></a
      ><a href="#" class="fa innerItem innerIcon fa-facebook"></a>
      <a href="#" class="innerItem innerIcon fa fa-twitter"></a>
    </div>
  </div>
</div>
