<div class="outerDiv" *ngIf="productData">
  <div class="topDetails">
    <div class="leftImages">
      <div class="smallImageContainer">
        <button
          class="btn previewImages"
          *ngFor="let productImage of productData.productImages"
          (click)="changePreview(productImage)"
        >
          <img [src]="fileUri + productImage" alt="Cannot load images" />
        </button>
      </div>

      <div class="rightPreview thumbnail">
        <lib-ngx-image-zoom
          class="preview-image"
          [thumbImage]="fileUri + previewImage"
          [magnification]="1"
          [enableScrollZoom]="true"
          [enableLens]="true"
          [lensWidth]="250"
          [circularLens]="false"
          [lensHeight]="250"
        ></lib-ngx-image-zoom>
      </div>

      <img
        class="enlarged-image"
        *ngIf="enlargedImage"
        [src]="fileUri + previewImage"
        alt="Cannot load images"
        [style.left.px]="enlargedPositionX"
        [style.top.px]="enlargedPositionY"
        #enlargedImageRef
      />
    </div>
    <!-- Secondary -->
    <div class="secondaryImageContainer">
      <button
        class="btn previewImages"
        *ngFor="let productImage of productData.productImages"
        (click)="changePreview(productImage)"
      >
        <img [src]="fileUri + productImage" alt="Cannot load images" />
      </button>
    </div>

    <div class="rightDetails">
      <span class="bold" style="font-size: x-large">{{
        productData.productName
      }}</span>

      <span class="small">{{ productData.categoryName }}</span>
      <div class="marginHalfTB">
        <span
          *ngFor="let _ of [1, 2, 3, 4, 5]; let i = index"
          class="star"
          [ngClass]="{ filled: i < productData.rating }"
        >
          &#9733;
        </span>
        <span class="small">
          (Reviewed by {{ productData.reviews.length }} people)</span
        >
      </div>
      <span class="marginHalfTB priceLabel">{{
        productData.price | currency : "INR"
      }}</span>
      <div class="sizeContainer marginHalfTB">
        <span style="width: 5rem" class="leftSpan">Size: &nbsp;</span>
        <button
          class="btn sizeBox box pointer"
          *ngFor="let size of productData.size"
          [class.selected]="selectedSize === size"
          (click)="selectSize(size)"
        >
          {{ size }}
        </button>
      </div>
      <div class="sizeContainer marginHalfTB">
        <span style="width: 5rem" class="leftSpan">Quantity: &nbsp;</span>
        <div class="priceBox box">
          <button class="btn pointer" (click)="quantityChange(-1)">-</button>
          <span>{{ quantity }}</span
          ><button class="btn pointer" (click)="quantityChange(1)">+</button>
        </div>
      </div>

      <div class="addressBox marginHalfTB">
        <span style="width: 5rem" class="leftSpan"
          >Shipping Country: &nbsp;</span
        >
        <span>India</span>
      </div>
      <div class="marginHalfTB">
        <button (click)="reviewProduct()" mat-stroked-button>
          Review Product
        </button>
      </div>
      <span class="marginHalfTB"
        ><span class="bold">Total Price: &nbsp; </span>
        <span class="bold">{{
          productData.price * quantity + 100 | currency : "INR"
        }}</span>
        <span class="small"
          >&nbsp;(Shipping cost &nbsp;{{ 100 | currency : "INR" }})</span
        >
      </span>
      <div class="marginHalfTB">
        <button
          (click)="addToCart()"
          style="margin-right: 0.5rem"
          mat-stroked-button
        >
          Add To Cart</button
        ><button (click)="checkOut()" mat-stroked-button>Checkout</button>
      </div>
    </div>
  </div>
  <div class="bottomDetails">
    <div class="descriptionContainer">
      <mat-tab-group>
        <mat-tab class="description" label="Description">
          <div
            class="innerDescription"
            [innerHTML]="productData.description"
          ></div>
        </mat-tab>
        <mat-tab label="Reviews">
          <div class="reviewOuter">
            <mat-card
              class="innerReview"
              *ngFor="let review of productData.reviews"
            >
              <div class="marginHalfTB">
                <span
                  *ngFor="let _ of [1, 2, 3, 4, 5]; let i = index"
                  class="star"
                  [ngClass]="{ filled: i < review.rating }"
                >
                  &#9733;
                </span>
              </div>
              <span> {{ review.createdBy }} </span>
              <span style="font-size: small"
                >({{ review.reviewOn | date }})</span
              >
              <span> {{ review.text }}</span>
            </mat-card>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
