<mat-drawer-container autosize hasBackdrop="true">
  <mat-drawer #drawer mode="over">
    <div class="matDrawerOuterBox">
      <div class="closeIcon">
        <mat-icon (click)="drawer.close()">close</mat-icon>
      </div>

      <div class="outerItem" *ngFor="let item of navItems.slice(1)">
        <a
          class="innerItem alignCenterFlex"
          *ngIf="!item.action"
          [href]="item.link ? item.link : null"
          [routerLink]="item.routerLink ? item.routerLink : null"
          routerLinkActive="routerActive"
        >
          <mat-icon>{{ item.icon }}</mat-icon
          >{{ item.label }}
        </a>
        <button
          class="btn innerItem alignCenterFlex"
          *ngIf="item.action"
          (click)="item.action === 'logout' ? logout() : null"
        >
          <mat-icon>{{ item.icon }}</mat-icon
          >{{ item.label }}
        </button>
      </div>
    </div>
  </mat-drawer>

  <mat-icon (click)="drawer.toggle()">menu</mat-icon>
</mat-drawer-container>
