mat-drawer-container{
    position: static;
}
mat-drawer{
    left: 0;
}
.matDrawerOuterBox{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .outerItem{
        width: 100%;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: left;
        border-bottom: 1px solid black;
        a{
            text-decoration: none;
            color: black;
        }
        .projectTitle{
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                font-weight: bold;
                margin: 0px;
            }
        }
        
    }
    .topBar{
        justify-content: space-between;
    }
}