<mat-drawer-container autosize hasBackdrop="true">
  <mat-drawer #drawer mode="over">
    <div class="matDrawerOuterBox">
        <div class="outerItem topBar">
            <div class="projectTitle">
                <mat-icon class="innerIcon">shopping_cart</mat-icon>
                <p>Project Closet</p>
              </div>
            <mat-icon (click)="drawer.close()">arrow_back</mat-icon>
        </div>
      <div class="outerItem">
        <a class="innerItem alignCenterFlex" href="#">
          <mat-icon>info</mat-icon>About Us</a>
      </div>
      <div class="outerItem">
        <a class="innerItem alignCenterFlex" href="#">
          <mat-icon>rss_feed</mat-icon>Blog</a>
      </div>
      <div class="outerItem">
        <a class="innerItem alignCenterFlex" href="#">
          <mat-icon>phone_in_talk</mat-icon>Contact Us</a>
      </div>
      <div class="outerItem">
        <a class="innerItem alignCenterFlex" href="#">
          <mat-icon>help</mat-icon>Help & Support</a>
      </div>      
      <div class="outerItem">
        <a class="innerItem alignCenterFlex" routerLink="/admin/home" routerLinkActive="routerActive">
          <mat-icon>admin_panel_settings</mat-icon>Administration</a>
      </div>
      <div class="outerItem">
        <a class="innerItem alignCenterFlex" (click)="logout()">
          <mat-icon>logout</mat-icon>Logout</a>
      </div>
    </div>
  </mat-drawer>

  <mat-icon (click)="drawer.toggle()">menu</mat-icon>
</mat-drawer-container>
