<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h4>About Us</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non urna
        vel orci laoreet vulputate.
      </p>
    </div>
    <div class="footer-section">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Follow Us</h4>
      <div class="social-icons">
        <a href="#"><mat-icon>facebook</mat-icon></a>
        <a href="#"><mat-icon>twitter</mat-icon></a>
        <a href="#"><mat-icon>instagram</mat-icon></a>
        <a href="#"><mat-icon>linkedin</mat-icon></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Pritam Majumder. All rights reserved.</p>
  </div>
</footer>
