$blue0: #eeeeee;
$blue-100: #508c9b;
$blue200: #134b70;
$blue300: #201e43;
$gray: #ebebe4;
$font-color: #333;
$blue-50: #d5ffff;

.footer {
  background-color: $blue300;
  color: $blue0;
  padding: 20px 0;

  padding-bottom: 0px;
  text-align: center;
  font-family: Arial, sans-serif;

  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;

    .footer-section {
      flex: 1;
      min-width: 200px;
      margin: 10px;

      h4 {
        margin-bottom: 10px;
        font-size: 18px;
        color: $blue-50;
      }

      p {
        font-size: 14px;
        color: $blue0;
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          margin-bottom: 5px;

          a {
            color: $blue0;
            text-decoration: none;
            font-size: 14px;

            &:hover {
              color: $blue-100;
              text-decoration: underline;
            }
          }
        }
      }

      .social-icons {
        a {
          color: $blue0;
          font-size: 24px;
          margin: 0 10px;
          text-decoration: none;

          &:hover {
            color: $blue-100;
          }

          mat-icon {
            vertical-align: middle;
          }
        }
      }
    }
  }

  .footer-bottom {
    background-color: $blue200;
    padding: 10px;
    font-size: 14px;
    color: $gray;
    p {
      margin: 0px;
    }
  }
}
