<div class="outerDiv">
    <div class="innerDiv">
        <strong class="innerItem">Company</strong>
        <a class="innerItem" href="#">About Us</a>
        <a class="innerItem" href="#">Our Store</a>
        <a class="innerItem" href="#">Contact Us</a>
    </div>
    <div class="innerDiv">

        <strong class="innerItem">Career Opportunities</strong>
        <a class="innerItem" href="#">Selling Program</a>
        <a class="innerItem" href="#">Advertise</a>
        <a class="innerItem" href="#">Cooperation</a>
    </div>
    <div class="innerDiv">
        <strong class="innerItem">How to buy</strong>        
        <a class="innerItem" href="#">Making Payments</a>
        <a class="innerItem" href="#">Delivery Options</a>
        <a class="innerItem" href="#">Buyer Protection</a>
        <a class="innerItem" href="#">New User Guide</a>
    </div>
    <div class="innerDiv">

        <strong class="innerItem">Help</strong>
        <a class="innerItem" href="#">Contact Us</a>
        <a class="innerItem" href="#">FAQ</a>
        <a class="innerItem" href="#">Privacy Policy</a>
    </div>
</div>
