$blue0: #eeeeee;
$blue-100: #508c9b;
$blue200: #134b70;
$blue300: #201e43;
$gray: #ebebe4;
$font-color: #333;
$blue-50: #d5ffff;
.outerFilterDiv {
  color: $gray;
  height: 100%;
  background-color: $blue200;
  padding: 1rem 2rem;

  .searchField {
    position: relative;
  }
  .searchIcon {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translateY(25%);
  }
  .divider {
    background-color: $gray !important;
  }

  .divider {
    color: $gray;
    margin: 0.5rem 0px;
  }
  .filterDiv {
    display: flex;
    flex-direction: column;
    .slider {
      width: 95%;
    }
    .minMax {
      display: flex;
      justify-content: space-between;
      mat-form-field {
        max-width: 45%;
      }
    }
    .filterName {
      display: inline-block;
      font-weight: bold;
      margin: 0.5rem 0px;
    }
    .categoryFilter {
      display: flex;
      flex-direction: column;
      max-height: 25rem;
      overflow-y: auto;
    }
    .sizeFilter {
      display: flex;
      flex-direction: column;
    }
  }
}
.sidenav {
  padding: 0rem 1rem 1rem 1rem;
  .categoryFilter {
    max-height: max-content !important;
    overflow: hidden !important;
  }
}
