/* You can add global styles to this file, and also import other style files */
$blue0: #eeeeee;
$blue100: #508c9b;
$blue200: #134b70;
$blue300: #201e43;
$gray: #ebebe4;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 1rem;
  --mat-form-field-container-vertical-padding: 2px;
  --mat-form-field-container-height: 35px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html,
body {
  background-color: $gray;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
mat-form-field {
  input {
    padding-top: 5px !important;
  }
}
.pointer {
  cursor: pointer;
}
.flex {
  display: flex;
}
.alignCenterFlex {
  display: flex;
  align-items: center;
}
.bothCenterFlex {
  display: flex;
  justify-content: center;
  align-self: center;
}
.mdc-text-field--disabled {
  background-color: #ebebe4;
}

.mat-mdc-form-field-flex {
  height: 36px !important;
}
.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 0px !important;
  text-align: center !important;
}
.mat-form-field-readonly {
  color: grey;
  background-color: EBEBE4 !important;
  .mat-mdc-text-field-wrapper {
    background-color: EBEBE4 !important;
  }
}
mat-drawer-container {
  position: static;
}

mat-drawer {
  position: fixed !important;
  max-width: 19rem;
  left: 0;
}
.mat-drawer-transition .mat-drawer-backdrop {
  position: fixed !important;
}
.mat-drawer-content {
  overflow: hidden !important;
}
.bold {
  font-weight: bold;
}
.small {
  font-size: small;
}
.elipssis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.marginHalfTB {
  margin: 0.5rem 0px;
}
.mat-mdc-tab-body-content {
  height: max-content !important;
  overflow: hidden;
}

.btn {
  background-color: transparent;
  border: 0px;
}
