$blue0: #eeeeee;
$blue-100: #508c9b;
$blue200: #134b70;
$blue300: #201e43;
$gray: #ebebe4;
$font-color: #333;
$blue-50: #d5ffff;

.outerDiv {
  width: 100%;
  background-color: $blue300;
  color: $gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .innerDiv {
    display: flex;
    align-items: center;

    .logoBtn {
      display: flex;
      align-items: center;
      padding: 0 0.5rem;
      cursor: pointer;
      transition: color 0.3s, background-color 0.3s;

      &:hover {
        color: $blue-50;
        a {
          color: $blue-50;
        }
      }

      a {
        color: $gray;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 4px;
      }

      button {
        background: none;
        border: none;
        color: $gray;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;

        &:hover {
          color: $blue-50;
        }
      }
    }

    mat-icon {
      font-size: 1.5rem;
    }

    strong {
      font-size: 1.2rem;
    }

    span {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  mat-form-field {
    max-width: 8rem;
    padding: 0;
  }
}

@media only screen and (max-width: 800px) {
  .outerDiv {
    flex-direction: column;
    align-items: flex-start;
    .projectTitle {
      display: none;
    }
  }
  .userNameInner {
    display: none !important;
  }

  .innerDiv {
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem 0;
  }
}
