<div class="outerDiv">
  <div class="innerDiv">
    <div class="innerDiv logoBtn">
      <mat-icon>category</mat-icon>
      <strong>Categories</strong>
    </div>
  </div>
  <div class="innerDiv">
    <div class="innerDiv logoBtn" *ngIf="!isAuthenticated">
        <a href="" class="alignCenterFlex" routerLink="/auth/login"><mat-icon>login</mat-icon>Sign In</a>
    </div>
    <div class="innerDiv logoBtn" *ngIf="isAuthenticated">
      <span>Hi, {{ userName }} &nbsp;</span>
    </div>
    <div class="innerDiv logoBtn" *ngIf="isAuthenticated">
      <span class="alignCenterFlex pointer" (click)="logout()">
        <mat-icon>logout</mat-icon>Logout</span
      >
    </div>

    <div class="innerDiv logoBtn">
      <mat-icon>favorite</mat-icon>
      <span>Favorite</span>
    </div>

    <div class="innerDiv logoBtn">
      <mat-icon> shopping_bag </mat-icon>
      <span>Cart</span>
    </div>
    <div class="innerDiv logoBtn" *ngIf="isAuthenticated">
      <span class="alignCenterFlex pointer">
        <mat-icon>settings</mat-icon>App Settings</span
      >
    </div>
  </div>
</div>
