.outerDiv{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .innerDiv{
        padding: 0.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .logoBtn{
            padding:0px 0.5rem;
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
    mat-form-field{
        max-width: 8rem;
        padding: 0px;
        ::ng-deep .mat-mdc-form-field-subscript-wrapper{
            display: none;
        }
        ::ng-deep .mat-mdc-select-placeholder{
            color: white;
        }
        ::ng-deep .mat-mdc-select-arrow{
            color: white;
        }
    }
}
@media only screen and (max-width: 621px){
    .outerDiv{
        display: none;
    }
}
