<div class="outerDiv">
    <div class="innerDiv">
        <div class="innerDiv logoBtn">
            <mat-icon>category</mat-icon>
            <strong>Categories</strong>
        </div>
        <mat-form-field appearance="outline">
            <mat-select placeholder="Currency">
                <mat-option>USD</mat-option>
                <mat-option>INR</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-select placeholder="Language">
                <mat-option>English</mat-option>
                <mat-option>Hindi</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="innerDiv">
        <div class="innerDiv logoBtn">
            <mat-icon>login</mat-icon>
            <span>Sign In</span>
        </div>
        
        <div class="innerDiv logoBtn">
            <mat-icon>favorite</mat-icon>
            <span>Favorite</span>
        </div>
        
        <div class="innerDiv logoBtn">
            <mat-icon>
                shopping_bag
                </mat-icon>
            <span>Cart</span>
        </div>
    </div>
</div>